<launch>
	<node name="interface_rviz" pkg="rviz" type="rviz" args="-d $(find visualization)/rviz/interface.rviz">
	</node>

	<node name="interface" pkg="visualization" type="main_interface.py">
	<rosparam command="load" file="$(find visualization)/config/interface.yaml"/>
	</node>

	<node name="car_broadcaster" pkg="visualization" type="car_broadcaster.py">
	</node>
</launch>
