<launch>

  <node name="steering" pkg="steering" type="main.py" output="screen">
    <rosparam command="load" file="$(find steering)/config/steering.yaml"/>
  </node>

  <node name="can_c" pkg="can_c" type="main" output="screen">
  </node>

  <node pkg="car_state" name="car_state" type="main.py">
  <rosparam command="load" file="$(find car_state)/config/car_state.yaml"/>
  </node>

  <node pkg="controller" name="controller" type="main.py" output='screen'>
    <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      braking_kp: 0.5
      deceleration:  5
      min_braking_cmd: -0.2 
      max_cmd: 1 
      min_cmd: 0
    </rosparam>
  </node>

   <node name="accel_control" pkg="accel_control" type="main_ebs.py"  output="screen">
   <rosparam command="load" file="$(find accel_control)/config/accel_control.yaml"/>
    <rosparam>
      KP: 43.87
      KD : 0.0
      KI : 1.29

      target: 12
      reach_target_time: 6.0
      track_length: 75
    </rosparam>
  </node>


  <!-- Se guardan en $HOME/.ros/ -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o ebs_test -a"/>


</launch>
