<launch>


  <node pkg="controller" name="controller" type="main.py" output='screen'>
    <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      braking_kp: 0.5
      deceleration:  5
      min_braking_cmd: -0.2 
      max_cmd: 1 
      min_cmd: 0
    </rosparam>
  </node>

  <node pkg="fssim_interface" name="fssim_interface" type="main.py">
  </node>


  <node name="skidpad_control" pkg="skidpad_control" type="main.py"  output="screen">
  <rosparam command="load" file="$(find skidpad_control)/config/skidpad_control.yaml"/>
  </node>

  <node name="slam_marrano" pkg="slam_marrano" type="main"  output="screen">
  </node>


</launch>
