<launch>
  <!-- Usa marrano aplicando planning en global y deja de actualizar la ruta al completar la 
  primera vuelta pero sí sigue actulizando el slam para que no pete la localización -->

  <node pkg="slam_marrano" name="slam_marrano" type="main" output="screen">
  <rosparam command="load" file="$(find slam_marrano)/config/slam_marrano.yaml"/>
    <rosparam>
      mission: 'TRACKDRIVE'
      restart_map_at_origin: true
    </rosparam>
  </node>

  <node pkg="delaunay_detector" name="delaunay_detector" type="main.py" output="screen">
    <rosparam command="load" file="$(find delaunay_detector)/config/delaunay.yaml"/>
    <rosparam>
      topic_perception_map: '/mapa_icp'
      color_enabled: false
      MAX_ROUTE_LENGTH: 10
      slam: 'marrano'
      SMOOTH: true
    </rosparam>
  </node>

  <node pkg="fssim_interface" name="fssim_interface" type="main.py">
  </node>

  <node pkg="car_state" name="car_state" type="main.py">
  <rosparam command="load" file="$(find car_state)/config/car_state.yaml"/>
  <rosparam>
    SLAM: "marrano"
  </rosparam>
  </node>

  <node name="interface" pkg="visualization" type="main_interface.py">
	  <rosparam command="load" file="$(find visualization)/config/interface.yaml"/>
    <rosparam>
      frame: 'fssim/vehicle/cog'
    </rosparam>
	</node>

  

  <!-- <node name="telemetries" pkg="telemetries" type="main.py">
  <rosparam command="load" file="$(find control_pure_pursuit)/config/pure_pursuit.yaml"/>
	</node> -->

  <node pkg="controller" name="controller" type="main.py">
  <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      controller_mode: 'PP'
      braking_kp: 0.5
      deceleration:  5
      min_braking_cmd: -0.2 
      max_cmd: 0.2
      min_cmd: -0.2
    </rosparam>
  </node>

 

  <node pkg="pure_pursuit" name="pure_pursuit" type="main" output="screen">
  <rosparam command="load" file="$(find pure_pursuit)/config/pure_pursuit.yaml"/>
    <rosparam>
      LAD: 6
      TARGET_SPEED: 5
      global_mode: false
    </rosparam>
  </node>

  <!-- <node name="stanley_control" pkg="stanley_control" type="main.py"  output="screen">
    <rosparam command="load" file="$(find stanley_control)/config/stanley_control.yaml"/>
    <rosparam>
      KP: 43.87
      KI: 0.0
      KD: 0.0

      stanley_coef: 1
      k_delta: -0.02
      k_yaw_rate: 0.2
    </rosparam>
  </node> -->


 


</launch>
