<launch>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
  </node>
    
  <node pkg="rslidar_sdk" name="velodyne_transformer" type="velodyne_transformer.py"/>
  <node pkg="rslidar_sdk" name="imu_transformer" type="imu_transformer.py"/>

  <node name="steering" pkg="steering" type="main.py" output="screen">
	</node>

  <node name="can" pkg="can" type="main.py">
	</node>

  <node pkg="controller" name="controller" type="main.py" output='screen'>
    <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      braking_kp: 0.5
      deceleration:  5
      min_braking_cmd: -0.2 
      max_cmd: 0.5
      min_cmd: 0
    </rosparam>
  </node>

  <node pkg="lidar_perception" name="lidar_perception" type="main" output="screen">
    <rosparam command="load" file="$(find lidar_perception)/config/lidar_cpp.yaml"/>
  </node>

  <!-- <node name="fssim_rviz" pkg="rviz" type="rviz" args="-d $(find lidar_perception)/config/lidar_rviz.rviz"/> -->


  <node pkg="delaunay_detector" name="delaunay_detector" type="main.py" output="screen">
    <rosparam command="load" file="$(find delaunay_detector)/config/delaunay.yaml"/>
    <rosparam>
      topic_map: 'perception_map'
      color_enabled: false
    </rosparam>
  </node>

  <node name="interface" pkg="visualization" type="main_interface.py">
	  <rosparam command="load" file="$(find visualization)/config/interface.yaml"/>
    <rosparam>
      frame: 'velodyne'
    </rosparam>
	</node>


  <node pkg="control_pure_pursuit" name="control_pure_pursuit" type="main.py" output="screen">
    <rosparam command="load" file="$(find control_pure_pursuit)/config/pure_pursuit.yaml"/>
    <rosparam>
      LFC: 4
      TARGET_SPEED: 2
      simulation: false
      min_vel: 0.5
    </rosparam>
  </node>

  <!-- Se guardan en $HOME/.ros/ -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o pure_pursuit -a"/>


</launch>
