<launch>

  <node pkg="fssim_interface" name="fssim_interface" type="main.py">
  </node>

  <node name="inspection_control" pkg="steering" type="inspection_control.py">
	</node>

	<node name="steering" pkg="steering" type="main.py">
	</node>

  <node name="can" pkg="can" type="main.py">
	</node>


</launch>