<launch>

  <node name="inspection_control" pkg="tests" type="inspection_control.py"  output="screen">
	</node>

	<node name="steering" pkg="steering" type="main.py" output="screen">
	</node>

  <node name="can" pkg="can" type="main.py" output="screen">
	</node>

  <!-- Se guardan en $HOME/.ros/ -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o inspection -a"/>


</launch>