<launch>

  <node name="inspection_control" pkg="tests" type="inspection_control.py"  output="screen">
	</node>

  <node pkg="controller" name="controller" type="main.py" output='screen'>
    <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      braking_kp: 0.5
      deceleration:  5
      min_braking_cmd: -0.2 
      max_cmd: 0.2
      min_cmd: 0
    </rosparam>
  </node>

	<!-- <node name="steering" pkg="steering" type="main.py" output="screen">
	</node> -->

  <node name="can_c" pkg="can_c" type="main" output="screen">
	</node>

  <node pkg="car_state" name="car_state" type="main.py">
  <rosparam command="load" file="$(find car_state)/config/car_state.yaml"/>
  </node>

  <!-- Se guardan en $HOME/.ros/ -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o inspection -a"/>


</launch>