<launch>

    <node name="can_c" pkg="can_c" type="main" output="screen">
    </node>

    <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
	</node>

    <node pkg="rosbag" type="record" name="rosbag_record" args="record -o slam_acceleration -a"/>

</launch>