<launch>
  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
  </node>
    

  <node name="steering" pkg="steering" type="main.py" output="screen">
    <rosparam command="load" file="$(find steering)/config/steering.yaml"/>
	</node>

  <node name="can" pkg="can" type="main.py">
	</node>

  <node pkg="car_state" name="car_state" type="main.py">
    <rosparam command="load" file="$(find car_state)/config/car_state.yaml"/>
    <rosparam>
      SLAM: "marrano"
    </rosparam>
  </node>

  <node pkg="controller" name="controller" type="main.py" output='screen'>
    <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      braking_kp: 0.5
      deceleration:  5
      min_braking_cmd: -0.2 
      max_cmd: 0.5
      min_cmd: 0
    </rosparam>
  </node>

  <node pkg="lidar_perception" name="lidar_perception" type="main" output="screen">
    <rosparam command="load" file="$(find lidar_perception)/config/lidar_cpp.yaml"/>
  </node>

  <node pkg="slam_marrano" name="slam_marrano" type="main" output="screen">
  </node>

  <node pkg="delaunay_detector" name="delaunay_detector" type="main.py" output="screen">
    <rosparam command="load" file="$(find delaunay_detector)/config/delaunay.yaml"/>
    <rosparam>
      topic_map: 'mapa_icp'
      color_enabled: false
    </rosparam>
  </node>


  <node pkg="pure_pursuit" name="pure_pursuit" type="main.py" output="screen">
    <rosparam command="load" file="$(find pure_pursuit)/config/pure_pursuit.yaml"/>
    <rosparam>
      LAD: 4
      TARGET_SPEED: 3
      global_mode: true
    </rosparam>
  </node>

  <!-- Se guardan en $HOME/.ros/ -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o slam_pp -a"/>


</launch>
