<launch>

  <node pkg="rslidar_sdk" name="rslidar_sdk_node" type="rslidar_sdk_node" output="screen">
    <param name="config_path" value=""/>
	</node>

  <node name="steering" pkg="steering" type="main.py" output="screen">
    <rosparam command="load" file="$(find steering)/config/steering.yaml"/>
  </node>

  <node pkg="lidar_perception" name="lidar_perception" type="main">
    <rosparam command="load" file="$(find lidar_perception)/config/lidar_cpp.yaml"/>
  </node>

  <node name="can_c" pkg="can_c" type="main" output="screen">
  </node>


  <node pkg="slam_marrano" name="slam_marrano" type="main">
  <rosparam command="load" file="$(find slam_marrano)/config/slam_marrano.yaml"/>
  <rosparam>
    mission: 'TRACKDRIVE'
    restart_map_at_origin: true
  </rosparam>
  </node>

  <node pkg="delaunay_detector" name="delaunay_detector" type="main.py" output="screen">
    <rosparam command="load" file="$(find delaunay_detector)/config/delaunay.yaml"/>
    <rosparam>
      topic_perception_map: '/mapa_icp'
      color_enabled: false
      MAX_ROUTE_LENGTH: 10
      slam: 'marrano'
      trackdrive: false
    </rosparam>
  </node>


  <node pkg="car_state" name="car_state" type="main.py">
  <rosparam command="load" file="$(find car_state)/config/car_state.yaml"/>
  <rosparam>
    SLAM: "marrano"
  </rosparam>
  </node>

  <node name="interface" pkg="visualization" type="main_interface.py">
	  <rosparam command="load" file="$(find visualization)/config/interface.yaml"/>
    <rosparam>
      frame: 'map'
    </rosparam>
	</node>

  

  <!-- <node name="telemetries" pkg="telemetries" type="main.py">
  <rosparam command="load" file="$(find control_pure_pursuit)/config/pure_pursuit.yaml"/>
	</node> -->

  <node pkg="controller" name="controller" type="main.py">
  <rosparam command="load" file="$(find controller)/config/controller.yaml"/>
    <rosparam>
      controller_mode: 'PP'
    </rosparam>
  </node>

 

  <node pkg="pure_pursuit" name="pure_pursuit" type="main" output="screen">
  <rosparam command="load" file="$(find pure_pursuit)/config/pure_pursuit.yaml"/>
    <rosparam>
      LAD: 6
      TARGET_SPEED: 5
      global_mode: false
    </rosparam>
  </node>

  <!-- Se guardan en $HOME/.ros/ -->
  <node pkg="rosbag" type="record" name="rosbag_record" args="record -o trackdrive -a"/>


 


</launch>
